<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

    <style>
        #header {
            background: url("../static/imgs/header.jpeg");
        }
    </style>

    <title>Viettel</title>
</head>

<body>
    <nav class="navbar bg-light navbar-dark">
        <div class="container">
            <a href="" class="navbar-brand">
                <img src="../static/imgs/Logo_Viettel_from_7_January_2021_Slogan.svg" alt="" width="120" height="100">
            </a>
        </div>
    </nav> 

    <section id="header" class="jumbotron text-center">
        <h3 class="display-4"> PROVISIONING PORTAL</h3>
        <p class="lead">Select Your Service</p>
        <a href="/l3vpn" class="btn btn-primary">L3VPN Services</a>
        <a href="/l2vpn" class="btn btn-success">L2VPN Services</a>
    </section>

    <section id="gallery">
       <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="../static/imgs/pattern1.png" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Device Manager</h5>
                            <p class="card-text">Find, synchronize and group your devices. Monitor connectivity status and access the configuration data</p>
                            <a href="" class="btn btn-outline-success btn-lg">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="../static/imgs/pattern2.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Service Manager</h5>
                            <p class="card-text">Find and synchronize your serivce. See deployment status and access the service configuration data</p>
                            <a href="" class="btn btn-outline-success btn-lg">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="../static/imgs/pattern3.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Alarm Manager</h5>
                            <p class="card-text">Monitor number and status of alarms. See network health status and access the operational logs</p>
                            <a href="" class="btn btn-outline-success btn-lg">View</a>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
